$main: #058656;
$main2: #048454;
$textcolor: #000000;
$fontSize: 14px;
$active: #32216f;

.logo-brand {
  img {
    max-width: 936px;
    width: 100%;
  }
}

.header {
  background: linear-gradient(282.43deg, #f2efff 0%, #e9f5f1 100%);

  @media (max-width: 1024px) {
    background: #fff;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;

  &__content {
    padding: 16px 0 0 0;
    display: flex;
    flex-flow: column;
    gap: 24px;

    @media (max-width: 1024px) {
      padding: 16px 0;
      gap: 16px;
      display: none;
    }

    .form-search {
      border: 1px solid #dadada;
      background: #fff;
      padding: 6px 6px 6px 12px;
      border-radius: 12px;
      align-items: center;
      margin: 0 0 0 auto;
      @media (max-width: 767px) {
        display: none !important;
      }

      .form-control {
        min-width: auto;
        border: 0;
        display: block;
        width: 130px;
        padding: 0;
        min-height: auto;
        height: auto;
        font-size: 15px;

        &::placeholder {
          color: #3a3a3a;
          opacity: 0.5;
        }
      }

      .btn.btn-outline-success {
        padding: 0;
        border: 0;
        margin-right: 12px;
      }
    }
  }

  &__right {
    display: flex;
    gap: 12px;
    justify-content: flex-end;

    @media (min-width: 768px) {
      gap: 24px;
    }

    a {
      color: $main;
    }

    .btn {
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 0;

      img {
        width: 34px;
        height: 24px;

        @media (max-width: 480px) {
          width: 24px;
          height: auto;
        }
      }
    }

    @media (max-width: 1024px) {
      .group-social {
        display: none !important;
      }
    }

    @media (max-width: 767px) {
      .dropdown {
        display: none;
      }
    }
  }
}

.dropdown-item {
  font-size: $fontSize;
}

.header-bottom {
  .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 150%;
    padding: 24px !important;

    &.dropdown-toggle.show,
    &.active,
    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }

  .navbar-expand-lg .navbar-nav {
    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      position: absolute;
      box-shadow: 0px 0px 24px 0px #00000014;
      border-radius: 16px;
      border: 0;
      padding: 32px 24px;
      display: flex;
      opacity: 0;
      visibility: hidden;
      z-index: 999;
      flex-flow: column;
      gap: 16px;

      &:before {
        content: "";
        position: absolute;
        width: 79px;
        height: 3px;
        opacity: 1;
        border-radius: 4px;
        background-color: $main;
        top: 0;
        left: 24px;
      }

      .link-item {
        line-height: 150%;
        color: #000;
        white-space: nowrap;

        &:hover {
          opacity: 0.8;
          text-decoration: underline;
        }
      }
    }

    .dropdown {
      &:hover {
        .dropdown-menu {
          opacity: 1;
          visibility: visible;
        }

        .nav-link {
          opacity: 0.8;
          text-decoration: underline;
        }
      }
    }
  }
}

.header {
  .is-sticky {
    width: 100%;
    position: fixed;
    top: 0;
    animation: slideDown 0.35s ease-out;
    z-index: 999;
  }

  .navbar-toggler {
    display: block;
    font-size: 28px;
    color: $main;
  }

  .navbar-expand-lg {
    padding: 0;
  }

  .header-bottom {
    background: $main;

    @media (max-width: 1199px) {
      .navbar-toggler {
        display: flex;
        justify-content: space-between;
        padding: 16px 24px;

        .btn-menu,
        a {
          background: transparent;
          font-weight: 700;
          font-size: 12px;
          line-height: 150%;
          text-transform: uppercase;
          color: #fff;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .navbar-expand-lg .navbar-nav {
      flex-direction: row;
      justify-content: center;
      margin: auto;
    }

    .navbar-toggler {
      display: none;
    }

    .navbar-expand-lg .offcanvas {
      position: static;
      z-index: auto;
      flex-grow: 1;
      width: auto !important;
      height: auto !important;
      visibility: visible !important;
      background-color: transparent !important;
      border: 0 !important;
      transform: none !important;
      transition: none;
    }
  }

  @media (max-width: 1199px) {
    .navbar-expand-lg .navbar-nav {
      flex-flow: column;
    }

    .header-bottom .nav-link {
      position: relative;
    }

    .offcanvas.offcanvas-start .navbar-nav .dropdown-menu {
      margin: 0 16px;
      position: static;
    }

    .offcanvas {
      max-width: 300px;
      background: $main;
      overflow: auto;
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.main-content {
  .section-1 {
    background: linear-gradient(282.43deg, #f2efff 0%, #e9f5f1 100%);
    gap: 40px;
    padding-top: 48px;
    padding-bottom: 184px;
    display: flex;

    @media (max-width: 1199px) {
      flex-flow: column;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 16px;
    }

    @media (max-width: 667px) {
      padding-left: 12px;
      padding-right: 12px;
    }

    &__left {
      max-width: 63%;

      @media (max-width: 1199px) {
        max-width: 100%;
      }

      .mySwiper {
        max-height: 502px;

        @media (max-width: 667px) {
          max-height: 191px;
        }

        border-radius: 0 48px 48px 0;

        @media (max-width: 1199px) {
          border-radius: 48px;

          @media (max-width: 667px) {
            border-radius: 16px;
          }
        }

        .swiper-pagination-bullets,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
          bottom: 24px;

          @media (max-width: 667px) {
            bottom: 6px;
          }
        }

        .swiper-pagination-bullet {
          opacity: 1;
          background: #ffffff99;
          width: 12px;
          height: 12px;
          border-radius: 24px;

          @media (max-width: 667px) {
            width: 5px;
            height: 5px;
            margin: 0 2px;
          }
        }

        .swiper-pagination-bullet-active {
          background: $main2;
          width: 65px;

          @media (max-width: 667px) {
            width: 24px;
          }
        }

        .swiper-slide {
          max-height: 502px;

          @media (max-width: 667px) {
            max-height: 191px;
          }

          .content {
            position: absolute;
            bottom: 0;
            z-index: 1;
            padding: 0 44px 64px 44px;

            @media (max-width: 667px) {
              padding-left: 12px;
              padding-right: 12px;
              padding-bottom: 24px;
            }

            .tag {
              background: #ff0000;
              display: inline-block;
              padding: 2px 12px;
              font-weight: 600;
              font-size: 11px;
              line-height: 19.82px;
              text-align: justify;
              text-transform: uppercase;
              margin-bottom: 16px;
              color: #fff;

              @media (max-width: 667px) {
                padding: 0px 6px;
                font-size: 9px;
                margin-bottom: 8px;
              }
            }

            a {
              font-weight: 600;
              font-size: 24px;
              line-height: 150%;
              color: #fff;
              display: block;

              @media (max-width: 667px) {
                &.caroursel-title {
                  font-size: 12px;
                  height: 36px;
                  overflow: hidden;
                }
              }

              &:hover {
                color: $main2;
              }
            }
          }

          &:after {
            content: "";
            height: 51%;
            right: 0;
            left: 0;
            position: absolute;
            bottom: 0;
            opacity: 0.9;
            background: linear-gradient(
              359deg,
              #13211d 49.9%,
              rgba(19, 33, 29, 0) 87.34%
            );
          }
        }

        img {
          width: 100%;
          border-radius: 0;
          height: 502px;

          @media (max-width: 667px) {
            height: 191px;
          }

          object-fit: cover;
        }
      }
    }

    &__right {
      opacity: 1;
      gap: 20px;
      padding: 32px 48px;
      border-top-left-radius: 48px;
      border-bottom-left-radius: 48px;
      background: #fff;
      display: flex;
      flex-flow: column;

      @media (max-width: 1199px) {
        border-radius: 48px;

        @media (max-width: 667px) {
          border-radius: 16px;
          padding: 24px 16px;
        }
      }

      .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 160%;
        text-transform: uppercase;
        margin: 0;
      }

      .list-group {
        .list-group-item {
          background: #f5fbf9;
          border: 0;
          border-radius: 16px;
          padding: 20px 16px 18px 24px;
          overflow: hidden;
          margin-bottom: 20px;

          &:nth-child(2n) {
            background: #f9f7ff;
          }

          .tag {
            opacity: 1;
            padding-right: 10px;
            padding-left: 10px;
            border-bottom-left-radius: 8px;
            background: #ff0000;
            position: absolute;
            top: 0;
            right: 0;
            font-weight: 600;
            font-size: 11px;
            line-height: 19.82px;
            color: #fff;
            text-align: justify;
            padding-top: 2px;
          }

          .content {
            line-height: 19.82px;
            color: #6e6e6e;
            min-height: 65px;

            .fw-600 {
              font-weight: 600;
              font-size: 17px;
              color: #000;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}

.section-2 {
  margin-top: -136px;
  margin-bottom: 48px;

  .btn-success {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 16px;
    padding: 16px;
    max-width: 193px;
    width: 100%;
    background: $main2;

    &:hover {
      background: $main;
    }
  }

  .form-search {
    padding: 20px 8px 20px 16px;
    border-radius: 16px;
    border: 2px solid #dadada;
    background: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 8px;
    flex: 1;

    @media (max-width: 667px) {
      padding: 16px 8px 16px 16px;
    }

    .form-control {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      border: 0;
      padding: 0;

      &::placeholder {
        color: #3a3a3a;
        opacity: 0.5;
      }
    }
  }

  .nav-tabs {
    display: inline-flex;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    box-shadow: 0px 0px 24px 0px #00000014;
    gap: 1px;
    flex-flow: row;

    &:after {
      content: "";
      position: absolute;
      background: #fff;
      left: 0;
      right: 0;
      height: 20px;
      bottom: -17px;
      z-index: 1;
      border-radius: 0 16px 0 0;
    }

    .nav-link {
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      background: #101828;
      color: #fff;
      padding: 16px 24px;
      border-radius: 0;
      border: 0;

      &.active {
        background: #fff;
        color: #000;
      }
    }
  }

  .tab-content {
    padding: 40px 48px;
    background: #fff;
    box-shadow: 0px 0px 24px 0px #00000014;
    border-radius: 16px;

    @media (max-width: 667px) {
      padding: 24px 16px;

      .form {
        flex-flow: column;
        gap: 8px;
      }
    }
  }
}

.section-3 {
  padding: 32px 0 96px;

  .list-data {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    @media (max-width: 1199px) {
      row-gap: 24px;
      justify-content: space-around;
    }

    .list-data-item {
      display: flex;
      gap: 24px;
      padding: 0 24px;

      @media (max-width: 1199px) {
        width: 50%;

        @media (max-width: 667px) {
          width: 100%;
        }
      }

      h3 {
        font-weight: 600;
        font-size: 36px;
        line-height: 160%;
        margin: 0;
      }

      p {
        line-height: 160%;
        text-transform: uppercase;
        color: #717171;
      }
    }
  }
}

.section-4 {
  background: linear-gradient(282.43deg, #f8f6ff 0%, #f5f9f7 100%);

  .nav-pills {
    gap: 19px;
    padding: 64px 0;
    align-items: center;

    @media (max-width: 667px) {
      padding: 48px 0;
    }

    .nav-link {
      box-shadow: 0px 4px 4px 0px #0000000d;
      background: #fff;
      padding: 12px;
      border-radius: 8px;
      font-weight: 500;
      font-size: 17px;
      line-height: 150%;
      text-align: center;
      color: #000;
    }
  }

  &--content {
    display: flex;
    gap: 48px;

    @media (max-width: 1199px) {
      gap: 24px;
    }

    @media (max-width: 667px) {
      flex-flow: column;
      gap: 0;
    }

    &__left {
      width: 66.666%;

      @media (max-width: 667px) {
        width: 100%;
      }

      @media (min-width: 668px) {
        .blog-item {
          .content {
            padding-top: 48px;
          }

          a {
            font-size: 36px;
          }

          .post-text {
            .categories {
              font-size: 18px;
            }

            .time {
              font-size: 15px;
            }
          }
        }
      }
    }

    &__right {
      flex: 1;
    }
  }
}

.blog-item {
  .blog-image {
    img {
      width: 100%;
      border-radius: 16px;
    }
  }

  a {
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
    color: #000;

    &:hover {
      color: $main2;
    }
  }

  .content {
    padding: 24px 0;
  }

  .post-text {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;

    .categories {
      span {
        border: 1px solid #909090;
        padding: 2px 12px;
        font-weight: 600;
        line-height: 150%;
        text-align: center;
        border-radius: 8px;
        display: inline-block;
      }
    }

    .time {
      color: #909090;
      font-size: 13px;
      line-height: 20px;
      font-weight: 500;
    }
  }
}

.title-section {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  text-transform: uppercase;
  position: relative;
  padding-right: 20px;
  margin-bottom: 0;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    height: 24px;
    width: 3px;
    background: #000;
    top: 50%;
    transform: translateY(-50%);
  }
}

.fs-semi {
  font-size: 20px !important;
}

.blog-slider {
  padding: 64px 0;

  @media (max-width: 667px) {
    padding: 16px 0 48px;
  }
}

.blog-item.blog-item-horizontal {
  display: flex;
  align-items: center;
  gap: 16px;

  .post-text {
    align-items: flex-start;
  }

  .content {
    padding: 0;
  }

  a {
    font-size: 16px;
    font-weight: 500;
  }

  .post-text .time {
    flex: 1;
    text-align: right;
  }

  .blog-image {
    max-width: 119px;
    width: 100%;

    img {
      height: 86px;
      border-radius: 16px;
      object-fit: cover;
    }
  }

  .categories {
    span {
      font-weight: 600;
      font-size: 11px;
      line-height: 19.82px;
      text-align: justify;
      border-radius: 0;
      color: $active;
      border: 0;
      background: #4100ff1a;
      margin-right: 8px;

      &.new {
        background: #ff0000;
        color: #fff;
      }
    }
  }
}

.section-5 {
  padding: 48px 0;

  .logo-slider {
    margin-top: 48px;
    .swiper-slide {
      padding: 5px;
    }

    @media (max-width: 667px) {
      margin-top: 16px;
    }

    img {
      width: 100%;
      height: 111px;
      object-fit: contain;
    }
  }
}

.footer {
  background-color: #101828;
  padding: 48px 0;

  &__top {
    background-image: url(../image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 24px;
    padding-top: 8px;
    border-bottom: 1px solid #ffffff21;

    img {
      max-width: 392px;
    }

    .group-social {
      img,
      svg {
        width: 40px;
        height: 40px;
        color: #2a313f;
      }
    }
  }

  &__bottom {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #909090;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 16px;

    @media (max-width: 767px) {
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    a {
      color: #fff;
    }
  }
}

.breadcrumb-content {
  background: url(../image/breadcrumb.jpg) center no-repeat;
  padding: 32px 0;
  margin-bottom: 48px;
}

.breadcrumb {
  font-weight: 700;
  font-size: 28px;
  line-height: 180%;
  text-transform: uppercase;
  color: #fff;
  background: #042222b2;
  padding: 19px 30px;
  max-width: 416px;
  margin: 0;
  border-bottom: 3px solid $main;
  border-radius: 16px;

  .breadcrumb-item.active {
    color: #fff;
  }
}

.blog-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -32px;

  .blog-item {
    padding: 0 32px;
    width: 33.3336%;

    @media (max-width: 1080px) {
      width: 50%;
    }

    @media (max-width: 667px) {
      width: 100%;
    }
  }
}

.blog-page {
  .nav-pills {
    gap: 19px;
    margin-bottom: 48px;

    .nav-link {
      background: 0 0;
      border: 0;
      border-radius: 0.25rem;
      font-weight: 500;
      font-size: 17px;
      line-height: 150%;
      text-align: center;
      color: #000;
      border: 2px solid #f7f7f7;
      padding: 12px 16px;
      border-radius: 8px;

      &.active {
        background: $active;
        color: #fff;
        border-color: $active;
      }
    }
  }
}

.pagination {
  align-items: center;
  gap: 8px;
  margin: 48px 0;

  .page-numbers.dots,
  .page-dots {
    height: 2px;
    width: 68px;
    display: block;
    font-size: 0;
    background: #e8e8e8;
  }

  .page-link {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    border: 2px solid #e8e8e8;
    border-radius: 32px !important;
    margin: 0;
    padding: 0 2px;
    height: 44px;
    min-width: 44px;
    line-height: 40px;
    box-shadow: none;

    &:hover {
      background: #157c6b;
      color: #fff;
    }
    &.active {
      background: #157c6b;
      border-color: #e8e8e8;
      color: #fff;
    }

    .fa {
      font-size: 24px;
      line-height: 39px;
    }
  }

  .page-item.active {
    .page-link {
      background: #157c6b;
      border-color: #e8e8e8;
    }
  }
}

.finding-page {
  .show-result {
    font-size: 20px;
    color: #909090;
    line-height: 160%;
    margin-bottom: 40px;

    strong {
      color: #000;
    }
  }
  .section-2 {
    box-shadow: 0px 0px 24px 0px #00000014;
    padding: 48px;
    max-width: 1130px;
    margin: 0 auto 48px;
    border-radius: 16px;

    @media (max-width: 667px) {
      padding: 24px 16px;

      .form {
        flex-flow: column;
        gap: 8px;
      }
    }
  }
  .blog-page,
  .table-responsive,
  .m-w-1130 {
    max-width: 1130px;
    margin: 0 auto;
  }
}
.m-w-1034 {
  max-width: 1034px;
  margin: 0 auto;
}
.single-blog {
  .breadcrumb-detail {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #909090;
    margin-bottom: 48px;

    a {
      color: #909090;

      &:hover {
        color: $main2;
      }
    }
  }

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__content {
    display: flex;
    gap: 64px;
    margin-bottom: 48px;

    @media (max-width: 1199px) {
      flex-flow: column;
    }

    &--left {
      width: 67.666%;

      @media (max-width: 1199px) {
        width: 100%;
      }

      .detail {
        font-size: 16px;
        line-height: 150%;
        max-width: 683px;
        margin: 0 auto;
        padding-top: 16px;

        img {
          margin: 32px 0;
        }

        .text-indent-2 {
          text-indent: 16px;
        }
      }
    }

    &--right {
      flex: 1;
      max-width: 373px;
    }
    .widget-blog {
      height: 661px;
      overflow: hidden;
      .widget-blog-scroll {
        .blog-item.blog-item-horizontal {
          margin-bottom: 32px;
        }
      }
    }
    .widget-blog {
      display: flex;
      flex-flow: column;
      gap: 32px;

      .blog-item.blog-item-horizontal {
        align-items: flex-start;

        .categories {
          span {
            color: #3400cc;
            border-radius: 8px;
          }
        }

        .blog-image {
          position: relative;
          overflow: hidden;
          border-radius: 16px;

          img {
            border-radius: 16px;
          }

          .categories {
            position: absolute;
            right: 0;
            top: 0;

            .new {
              margin: 0;
              display: block;
              padding: 2px 12px;
              color: #fff;
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  #organizational {
    img {
      max-width: 720px;
    }
  }

  .tab-content {
    padding-bottom: 48px;
  }

  .nav-tabs {
    justify-content: space-between;
    background: #f7f7f7;
    border-radius: 24px;
    padding: 32px 24px 40px;
    border: 0;
    gap: 28px;
    flex-flow: row;
    margin-bottom: 48px;

    @media (max-width: 1199px) {
      flex-flow: row wrap;
    }

    .nav-item {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    .nav-link-page {
      display: flex;
      align-items: center;
      gap: 28px;
      position: relative;
      padding-left: 28px;
      border-left: 2px solid #909090;

      a {
        display: flex;
        flex-flow: column;
        opacity: 1;
        padding: 24px 32px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        gap: 16px;
        text-align: center;
        background: $active;
        color: #fff;

        &.color-green {
          background: $main;
        }
      }
    }

    .nav-link {
      background: transparent;
      border: 0;
      font-size: 17px;
      line-height: 150%;
      text-align: center;
      color: #000;
      padding: 0 15px;

      @media (max-width: 1400px) {
        padding: 0;
      }

      @media (max-width: 1199px) {
        padding: 0 15px;
      }

      &.active {
        .icon-tab {
          background: $active;

          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }

    .icon-tab {
      padding: 20px;
      border-radius: 50%;
      background: #fff;
      display: inline-block;
      margin-bottom: 21px;

      img {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.hr__content {
  .tab-content-hr {
    display: none;

    &.active {
      display: block;
    }
  }

  .nav-hr {
    gap: 19px;
    margin-bottom: 48px;

    .tab-btn {
      background: 0 0;
      border: 0;
      border-radius: 0.25rem;
      font-weight: 500;
      font-size: 17px;
      line-height: 150%;
      text-align: center;
      color: #000;
      border: 2px solid #f7f7f7;
      padding: 12px 16px;
      border-radius: 8px;
      display: block;

      &.active {
        background: $active;
        color: #fff;
        border-color: $active;
      }
    }
  }

  .hr-list {
    display: flex;
    flex-flow: row wrap;
    gap: 48px;
    margin-right: -48px;

    @media (max-width: 667px) {
      margin: 0;
      gap: 0;
    }

    .hr-item {
      padding: 18px 16px 0;
      width: calc(25% - 48px);
      background: #f7f7f7;
      text-align: center;
      margin-bottom: 40px;
      position: relative;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: 1199px) {
        width: calc(33.333% - 48px);
      }

      @media (max-width: 991px) {
        width: calc(50% - 48px);
      }

      @media (max-width: 667px) {
        width: 100%;
      }

      img {
        max-width: 223px;
        width: 100%;
        position: relative;
        z-index: 1;
      }

      .img-logo {
        position: absolute;
        z-index: 0;
        top: 24px;
        left: 13px;
        right: 13px;

        img {
          max-width: 100%;
        }
      }

      .info {
        backdrop-filter: blur(5px);
        padding: 12px 16px;
        position: absolute;
        bottom: 24px;
        z-index: 222;
        left: 13px;
        right: 13px;
        text-align: left;
        background: #ffffffcc;
        font-size: 19px;
        line-height: 160%;

        .position {
          font-size: 16px;
          color: #797979;
        }
      }
    }
  }
}

.table {
  margin-bottom: 0;

  .table-dark {
    --bs-table-bg: #048454;
  }

  img {
    width: 40px;
    height: 40px;
  }

  > :not(caption) > * > * {
    border: 1px solid #fff;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
  }

  th {
    padding: 16px;
    min-width: 160px;
  }

  .w-small {
    width: 100px;
    min-width: 100px;
    text-align: center;
  }

  .w-larger {
    width: 117px;
    min-width: 117px;
    padding: 16px 8px;
    text-align: center;
  }

  .w-smaller {
    width: 110px;
    min-width: 100px;
    padding: 16px 8px;
  }
}

.detail {
  .table {
    > :not(caption) > * > * {
      padding-left: 8px;
      padding-right: 8px;
    }

    th {
      padding: 16px 8px;
    }

    .w-larger {
      width: 117px;
      min-width: 117px;
      padding: 16px 8px;
    }

    .w-smaller {
      width: 110px;
      min-width: 100px;
      padding: 16px 8px;
    }
  }
}

.introduce-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #909090;
  margin-bottom: 0;
}

.public-page {
  max-width: 1034px;
  margin: 0 auto;
  padding: 24px 0 48px;

  .introduce-text {
    margin-bottom: 40px;
  }
}

.procedure-page {
  padding-bottom: 64px;

  .detail {
    max-width: 681px;
    margin: 0 auto;

    img {
      margin: 32px 0;
    }
  }
}

.nav-fill {
  gap: 32px;
  margin-bottom: 64px;

  .nav-link {
    background: #f7f7f7;
    padding: 24px;
    text-align: left;
    border-radius: 0;
    color: $main;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    border-radius: 16px;
    p {
      margin: 0;
    }

    .fa {
      font-size: 20px;
    }

    .time {
      color: #909090;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      text-transform: uppercase;
      color: #000;
      margin: 8px 0;
    }

    &.active {
      background: $active;
      color: rgba(255, 255, 255, 0.6);

      .time {
        color: rgba(255, 255, 255, 0.6);
      }

      h3 {
        color: #fff;
      }
    }
  }
}

.related-blog {
  margin-bottom: 148px;

  .nav-pills {
    gap: 19px;
    align-items: center;
    padding: 48px 0;

    .nav-link {
      box-shadow: 0px 4px 4px 0px #0000000d;
      background: #fff;
      padding: 12px;
      border-radius: 8px;
      font-weight: 500;
      font-size: 17px;
      line-height: 150%;
      text-align: center;
      color: #000;
    }
  }
}

.result-page {
  max-width: 1130px;
  margin: 0 auto;

  .title-page {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .show-result {
    font-size: 20px;
    color: #909090;
    line-height: 160%;
    margin-bottom: 40px;

    strong {
      color: #000;
    }
  }
}

.training-page {
  .nav-tabs {
    .nav-item {
      flex: auto;
    }

    .nav-link {
      padding: 0;
    }
  }

  .detail {
    .table-responsive {
      img {
        margin: 0;
      }
    }
  }
}

.contact-page {
  max-width: 681px;
  font-size: 16px;
  line-height: 150%;

  .form {
    display: flex;
    flex-flow: column;
    gap: 16px;
    margin: 0;

    .form-control {
      padding: 20px 8px 20px 16px;
      border-radius: 16px;
      border: 2px solid #dadada;
      background: #fff;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      box-shadow: none;

      &::placeholder {
        color: #3a3a3a;
        opacity: 0.5;
      }
    }
  }
}

.document-page {
  .result-page {
    max-width: 1034px;
  }

  .nav-fill {
    display: grid;
    grid-template-columns: auto auto auto auto;

    @media (max-width: 1310px) {
      grid-template-columns: auto auto;
    }

    @media (max-width: 767px) {
      grid-template-columns: auto;
    }

    .nav-item {
      flex: 1;
    }
  }
}

.cooperate-page {
  .nav-fill {
    .nav-item {
      flex: 1;

      @media (max-width: 1199px) {
        flex: auto;
        width: calc(50% - 32px);
      }

      @media (max-width: 667px) {
        width: 100%;
      }
    }
  }
}

.btn.btn-outline-success {
  max-width: 149px;
  margin: 0 auto;
  padding: 8px 12px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #0000000d;
  border-color: $main;
  color: $main;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  justify-content: center;

  &:hover {
    background-color: $main;
    color: #fff;
  }
}

.table-responsive {
  thead {
    tr {
      th:first-child {
        border-radius: 8px 0 0 8px;
      }

      th:last-child {
        border-radius: 0 8px 8px 0;
      }
    }
  }
}

.scroll-item {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.6s ease;
}

.scroll-item.visible {
  opacity: 1;
  transform: translateY(0);
}
.scroll-posts {
  overflow: hidden;
  height: 358px;
  // .list-group {
  //   animation: scrollVertical 20s linear infinite;
  // }
}
.scroll-blog {
  animation: scrollVertical 32s linear infinite;
}
@keyframes scrollVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.swiper-slide,
.blog-image {
  img:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
}

.swiper-slide,
.blog-image {
  border-radius: 16px;
  overflow: hidden;
  img {
    transition: all 0.5s ease 0s;
  }
}
.btn.btn-search-icon {
  background-color: $main;
  padding: 8px 10px;
  border-radius: 8px;
  img {
    filter: brightness(0) invert(1);
    width: 20px;
    height: 20px;
  }
}
.mb-32 {
  margin-bottom: 32px !important;
}
