$main: #048454;
$textcolor: #000000;
$fontSize: 14px;
.logo-brand {
  img {
    max-width: 474px;
    width: 100%;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  &__left {
    display: flex;
    gap: 16px;
    @media(max-width: 767px){
      display: none;
    }
    a {
      color: $main;
    }
  }
  &__right {
    display: flex;
    gap: 16px;
    .btn {
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 15px 0;
      img {
        width: 34px;
        height: 24px;
      }
    }
    @media(max-width: 767px){
      .dropdown{
        display: none;
      }
    }
  }
}
.dropdown-item {
  font-size: $fontSize;
}
.dropdown-toggle::after {
  content: "";
  width: 9px;
  height: 9px;
  border: 0;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: translateY(-50%) rotate(-45deg);
  pointer-events: none;
  vertical-align: middle;
  margin-top: 4px;
}
.header-bottom {
  .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-family: Be Vietnam Pro;
    font-weight: 700;
    line-height: 150%;
    padding: 0 !important;
  }
  .dropdown-toggle::after {
    margin-top: 0;
    border-left-color: #fff;
    border-bottom-color: #fff;
  }
}
.header {
  .is-sticky {
    width: 100%;
    position: fixed;
    top: 0;
    animation: slideDown 0.35s ease-out;
  }
  .navbar-toggler {
    display: block;
    font-size: 24px;
    color: $main;
  }
  .navbar-expand-lg {
    padding: 0;
  }
  @media (min-width: 1200px) {
    .header-bottom {
      background: $main;
      padding: 24px 0;
    }
    .navbar-expand-lg .navbar-nav {
      flex-direction: row;
      justify-content: center;
      margin: auto;
      gap: 40px;
    }
    .navbar-toggler {
      display: none;
    }

    .navbar-expand-lg .offcanvas {
      position: static;
      z-index: auto;
      flex-grow: 1;
      width: auto !important;
      height: auto !important;
      visibility: visible !important;
      background-color: transparent !important;
      border: 0 !important;
      transform: none !important;
      transition: none;
    }
  }
  @media (max-width: 1199px) {
    .navbar-expand-lg .navbar-nav {
      flex-flow: column;
    }
    .header-bottom .nav-link {
      color: #000;
      margin: 16px;
      position: relative;
    }
    .header-bottom .dropdown-toggle::after {
        border-left-color: #000;
        border-bottom-color: #000;
        position: absolute;
        right: 0;
        top: 8px;
    }
    .offcanvas.offcanvas-start .navbar-nav .dropdown-menu {
      width: 100%;
      border-width: 0;
      background: transparent;
      box-shadow: none;
      padding: 0;
      position: static;
    }
    .offcanvas {
      max-width: 300px;
    }
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
